In [26]:
import pandas as pd

In [27]:
df = pd.read_excel('16.3 - SUB_vendas_simuladas.xlsx')

In [28]:
df

,id_pedido,timestamp,id_produto,nome_produto,categoria,preco,quantidade
0,P0001,2024-05-01 00:03:04,PROD01,Smartphone X,Smartphones,3500.0,1
1,P0002,2024-05-01 00:08:26,PROD04,Teclado Gamer Z,Acessórios,450.0,1
2,P0003,2024-05-01 00:11:11,PROD06,Mouse Gamer W,Acessórios,150.0,1
3,P0004,2024-05-01 00:18:04,PROD08,Cadeira Gamer,Móveis,1200.0,1
4,P0005,2024-05-01 00:22:02,PROD01,Smartphone X,Smartphones,3500.0,1
...,...,...,...,...,...,...,...
4995,P4263,2024-06-03 23:13:17,PROD08,Cadeira Gamer,Móveis,1200.0,1
4996,P4263,2024-06-03 23:17:21,PROD03,Notebook Pro,Notebooks,7500.0,1
4997,P4264,2024-06-03 23:45:27,PROD04,Teclado Gamer Z,Acessórios,450.0,1
4998,P4265,2024-06-03 23:46:18,PROD02,Fone Bluetooth Y,Acessórios,250.0,1
4999,P4266,2024-06-03 23:55:19,PROD02,Fone Bluetooth Y,Acessórios,250.0,1

In [29]:
df['timestamp']  = pd.to_datetime(df['timestamp'])

In [30]:
df

,id_pedido,timestamp,id_produto,nome_produto,categoria,preco,quantidade
0,P0001,2024-05-01 00:03:04,PROD01,Smartphone X,Smartphones,3500.0,1
1,P0002,2024-05-01 00:08:26,PROD04,Teclado Gamer Z,Acessórios,450.0,1
2,P0003,2024-05-01 00:11:11,PROD06,Mouse Gamer W,Acessórios,150.0,1
3,P0004,2024-05-01 00:18:04,PROD08,Cadeira Gamer,Móveis,1200.0,1
4,P0005,2024-05-01 00:22:02,PROD01,Smartphone X,Smartphones,3500.0,1
...,...,...,...,...,...,...,...
4995,P4263,2024-06-03 23:13:17,PROD08,Cadeira Gamer,Móveis,1200.0,1
4996,P4263,2024-06-03 23:17:21,PROD03,Notebook Pro,Notebooks,7500.0,1
4997,P4264,2024-06-03 23:45:27,PROD04,Teclado Gamer Z,Acessórios,450.0,1
4998,P4265,2024-06-03 23:46:18,PROD02,Fone Bluetooth Y,Acessórios,250.0,1
4999,P4266,2024-06-03 23:55:19,PROD02,Fone Bluetooth Y,Acessórios,250.0,1

In [31]:
df.dtypes

id_pedido               object
timestamp       datetime64[ns]
id_produto              object
nome_produto            object
categoria               object
preco                  float64
quantidade               int64
dtype: object

In [32]:
for i in range(10):
    df_temp = df.iloc[i*len(df)//10:(i+1)*len(df)//10]
    df_temp.to_csv(fr'C:\analise_vendas_spark\streaming\dados\Vendas{i+1}.csv', index=False)